html,
body {
  height: 100%;
}

* {
  font-family: Raleway;
  font-size: 0.95rem;
}

.picture {
  background: linear-gradient(rgba(54, 57, 59, 0.5), rgba(54, 57, 59, 0.5)),
    url("./bgimage_drivers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.signup-container {
  margin-top: 12%;
}

.btn-proceed {
  color: white !important;
  background-color: rgb(64, 223, 109) !important;
  width: 100%;
}

#countryCode {
  background-color: white;
}

.green-text {
  color: rgb(64, 223, 109);
}

.cursorPointer {
  cursor: pointer;
}

.bold-font {
  font-weight: 800;
}
